type relf, domain;
type relf_exec, exec_type, file_type;

binder_use(relf)
binder_service(relf)
allow relf relf_service:service_manager add;
neverallow { domain -relf } relf_service:service_manager add;

binder_call(relf, priv_app)
